.image,
.info,
.personalinfos {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
}
.cv {
  display: grid;
  grid-template-areas: "image profileInfos" "infos experiencesInfos" "educationInfos skillsInfos" "languagesInfos interestInfos";
  font-family: Poppins;
  padding: 0 40px 40px;
}
.image,
.personalinfos {
  display: flex;
  background-color: #013048;
}
.image {
  justify-content: center;
  align-items: center;
  object-fit: contain;
  grid-area: image;
}
.image > img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.personalinfos {
  flex-direction: column;
  color: #fff;
  text-align: center;
}
.educations,
.info {
  display: flex;
  flex-direction: column;
}
.personalinfos > :first-child {
  font-size: 27px;
  font-weight: 600;
}
.personalinfos > :nth-child(2) {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 0.2px solid #fff;
}
.info {
  grid-area: infos;
}
.personalinfos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.educations {
  grid-area: educationInfos;
  justify-content: center;
}
.education,
.languages {
  flex-direction: column;
  display: flex;
}
.education {
  justify-content: center;
  padding-bottom: 20px;
}
.experience,
.skills > .title {
  padding: 15px;
}
.education > :first-child {
  color: #e1a570;
  font-size: 16px;
  font-weight: 600;
}
.education > :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.languages {
  grid-area: languagesInfos;
  justify-content: center;
}
.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
.language > :first-child {
  color: #e1a570;
  font-size: 18px;
  font-weight: 600;
}
.language > :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}
.profile {
  grid-area: profileInfos;
}
.profile > :nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #000;
}
.title {
  color: #004a6f;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
  padding: 5px;
}
.contactinfos > .title,
.educations > .title,
.languages > .title {
  color: #dca74c;
}
.experiences {
  grid-area: experiencesInfos;
}

.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experienceinfo {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
  justify-content: space-between;
  color: #2c2c2c;
  flex-grow: 1;
  width: 250px;
}

.experienceinfo > :nth-child(2) {
  font-size: 18px;
  color: #e1a570;
  font-weight: 600;
}

.experiencedetails {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
}

.experiencedetails > span {
  font-size: 16px;
  font-weight: 600;
  color: #006395;
  padding: 5px;
}

.experiencedetails > span::before {
  content: "# ";
}

.interest > span,
.soft > span,
.technology > span {
  font-weight: 500;
}

.contactinfos,
.educations,
.experiences,
.interest,
.languages,
.profile,
.soft,
.technologies {
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #013048;
  color: #fff;
  padding: 25px;
}
.experiences,
.interest,
.profile,
.soft,
.technologies {
  background-color: #fff;
  color: #000;
}
.technologies {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  grid-area: techonlogiesInfos;
}
.technology > span {
  font-size: 18px;
  color: #e1a570;
  font-weight: 600;
  padding: 5px;
}
.technologydetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.technologydetails > span {
  text-align: justify;
  font-size: 16px;
  color: #2c2c2c;
  font-weight: 500;
}
.technologydetails > span::before {
  content: "\2022";
  color: #006395;
  padding: 10px;
}
.skills {
  grid-area: skillsInfos;
}
.interest {
  grid-area: interestInfos;
}
.interest,
.soft {
  font-size: large;
}
.interests,
.softskills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-weight: 500;
}
.interests > span::before,
.softskills > span::before {
  content: "+ ";
  color: #dca74c;
}
.progressbar {
  display: none;
}
@media (max-width: 768px) {
  .cv {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .image {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .image > img {
    width: 200px;
    height: 200px;
  }

  .personalinfos {
    margin-bottom: 20px;
  }

  .info {
    margin-top: 20px;
  }

  .education,
  .language {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .experiences,
  .interest,
  .profile,
  .soft,
  .technologies {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
  }

  .technologydetails > span::before {
    display: none;
  }
}
