#search-results,
.navbar {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
body {
  margin: 0;
}
.cv {
  display: grid;
  grid-template-areas: "Infos Infos" "image profileInfos" "languagesInfos educationInfos" "softSkillsInfos skillsInfos" "interestInfos experiencesInfos";
  font-family: Poppins;
  padding: 0 40px 40px;
}
.image,
.info {
  display: flex;
}
.image {
  justify-content: center;
  align-items: center;
  object-fit: contain;
  grid-area: image;
  width: 100%;
  height: 100%;
}
.cv-image,
.cv-tile-img img {
  object-fit: cover;
}
.image > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.info {
  flex-direction: column;
  grid-area: Infos;
  justify-content: start;
  text-align: start;
}
.personalinfos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.educations,
.languages {
  flex-direction: column;
  display: flex;
}
.educations {
  grid-area: educationInfos;
  justify-content: center;
}
.education {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  padding: 10px 25px;
}
.education > :first-child {
  color: #242d3e;
  font-size: 16px;
  font-weight: 600;
}
.education > :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
  color: #242d3e;
}
.education > :nth-child(3),
.experienceinfo > :first-child {
  font-size: 18px;
  font-weight: 700;
  color: #a9926d;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.languages {
  grid-area: languagesInfos;
  justify-content: center;
}
.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
.language > :first-child {
  color: #a9926d;
  font-size: 18px;
  font-weight: 600;
}
.language > :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}
.profile {
  grid-area: profileInfos;
}
.profile > :nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #000;
}
.experiences {
  grid-area: experiencesInfos;
}
.experience {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1.5px solid #a9926d9c;
}
.experienceinfo {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
  justify-content: space-between;
  color: #2c2c2c;
}
.experienceinfo > :nth-child(2) {
  font-size: 18px;
  color: #242d3e;
  font-weight: 700;
}
.experiencedetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  flex-wrap: wrap;
}
.experiencedetails > span {
  font-size: 17px;
  font-weight: 600;
  color: #2c2c2c;
  padding: 5px;
}
.experiencedetails > span::before {
  content: "# ";
  color: #a9926d;
}
.contactinfos,
.educations,
.experiences,
.interest,
.languages,
.profile,
.skills,
.technologies {
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 25px;
}
.softskills,
.technology,
.title {
  padding: 10px;
}
.skills {
  grid-area: skillsInfos;
}
.image,
.interest,
.languages,
.soft {
  background-color: #eeeef0;
  color: #000;
}
.contactinfos {
  grid-area: contactInfos;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.contactinfos > span {
  padding: 10px;
  font-size: 18px;
}
.contactinfos,
.personalinfos {
  background-color: #242d3e;
  color: #fff;
}
.title {
  text-transform: uppercase;
  color: #242d3e;
  letter-spacing: 7px;
  font-size: 25px;
  text-decoration: overline;
  font-weight: 700;
}
.technologies {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  grid-area: techonlogiesInfos;
  flex-wrap: wrap;
}
.technology > span {
  font-size: 19px;
  color: #a9926d;
  font-weight: 600;
  text-decoration: underline;
  text-align: center;
}
.technologydetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.interests,
.softskills {
  flex-direction: column;
  display: flex;
}
.technologydetails > span {
  text-align: justify;
  font-size: 18px;
  font-weight: 500;
  color: #2c2c2c;
  padding: 5px;
}
.technologydetails > span::before {
  content: "\2598 ";
  padding: 5px;
  color: #b97d1dda;
}
.interest {
  grid-area: interestInfos;
  display: flex;
}
.interest,
.soft {
  font-size: large;
}
.soft {
  grid-area: softSkillsInfos;
}
.interests,
.softskills {
  justify-content: space-between;
  flex-wrap: wrap;
}
.interests > span,
.softskills > span {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 20px;
  text-align: justify;
}
.cv-tile-info,
.navbar button,
.personalinfos {
  text-align: center;
}
.interests > span::before,
.softskills > span::before {
  content: "\2598 ";
  color: #ab7929;
  font-size: 15px;
}
.personalinfos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  grid-area: personalInfos;
  padding: 30px;
}
.personalinfos > :first-child {
  font-size: 65px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.personalinfos > :nth-child(2) {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #a9926d;
}
.contactinfos > .title,
.progressbar {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dadada;
  padding: 10px;
  margin: 0 40px;
  font-family: "Helvetica Neue", sans-serif;
}
.nav-buttons {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.navbar button {
  background-color: #242d3e;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease-in-out;
}
.navbar button:hover {
  background-color: #a9926d;
}
#search-input {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
#search-results img,
.cv-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
#search-results {
  position: absolute;
  top: 55px;
  right: 50px;
  z-index: 999;
  background-color: #fff;
  border-radius: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
#search-results span {
  padding: 10px;
  cursor: pointer;
}
#search-results span:hover,
.results-container:hover {
  background-color: #f0f0f0;
}
.results-container {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.cv-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 40px;
  grid-auto-flow: dense;
  width: 100%;
}
.cv-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #24324b;
  border-radius: 10px;
  color: #dadada;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.cv-tile:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.cv-tile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}
.cv-tile-img img {
  width: 100%;
  height: 100%;
}
.cv-tile-info > :first-child {
  font-size: 1.5rem;
  margin-bottom: 5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: 700;
}
.cv-tile-info > :nth-child(2) {
  font-size: 1.12rem;
  font-weight: 400;
  color: #ab7929;
}
#error {
  display: block;
  font-size: 18px;
  color: red;
  margin: 10px 0;
}
