.educations,
.experiences {
  border-right: 1.5px solid #d97f00;
  padding: 10px;
}
.educations,
.profile,
.soft,
.technologies,
.interest {
  border-bottom: 1.5px solid #d97f00;
  padding: 10px;
}
body {
  margin: 0;
}
.cv {
  display: grid;
  grid-template-areas: "Infos image" "profileInfos profileInfos" "skillsInfos skillsInfos" "educationInfos interestInfos " "experiencesInfos languagesInfos";
  font-family: Poppins;
  padding: 0 40px 40px;
}
.education,
.interests > span {
  padding-bottom: 20px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  grid-area: image;
  width: 100%;
  height: 100%;
}
.educations,
.info {
  display: flex;
  flex-direction: column;
}
.image > img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}
.info {
  grid-area: Infos;
  justify-content: start;
  text-align: start;
}
.personalinfos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.educations {
  grid-area: educationInfos;
  justify-content: center;
}
.education,
.languages {
  flex-direction: column;
  display: flex;
}
.education {
  justify-content: center;
  padding: 10px;
}
.education > :first-child {
  color: #d97f00;
  font-size: 16px;
  font-weight: 600;
}
.education > :nth-child(2) {
  font-size: 18px;
  font-weight: 700;
}
.languages {
  grid-area: languagesInfos;
}
.language {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.language > :first-child {
  color: #d97f00;
  font-size: 18px;
  font-weight: 600;
}
.language > :nth-child(2) {
  font-size: 16px;
  font-weight: 600;
}
.profile {
  grid-area: profileInfos;
}
.profile > :nth-child(2) {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #000;
}
.experiences {
  grid-area: experiencesInfos;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.experienceinfo {
  display: flex;
  flex-direction: column;
  font-size: 17px;
  font-weight: 500;
  text-align: justify;
  justify-content: space-between;
  color: #2c2c2c;
  width: 350px;
}
.experienceinfo > :nth-child(2) {
  font-size: 18px;
  color: #d97f00;
  font-weight: 700;
}
.experiencedetails > span {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
}

.interests > span,
.soft > span,
.technology > span {
  font-weight: 500;
}
.experiencedetails {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.experiencedetails > span {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}
.experiencedetails > span::before {
  content: "</> ";
  color: #d97f00;
  font-weight: 600;
  padding-right: 5px;
}
.contactinfos {
  grid-area: contactInfos;
  justify-content: space-between;
  font-weight: 500;
}
.contactinfos,
.educations,
.experiences,
.interests,
.languages,
.profile,
.soft,
.technologies {
  text-align: justify;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: #000;
  padding: 25px;
}
.personalinfos,
.technologies {
  display: flex;
  text-align: center;
}
.experiences,
.interest,
.profile,
.soft,
.technologies {
  background-color: #fff;
  color: #000;
}
.contactinfos,
.image,
.personalinfos {
  background-color: #f4f4f4;
  color: #585858;
}
.title {
  text-transform: uppercase;
  color: #d97f00;
  letter-spacing: 7px;
  font-size: 25px;
}
.technologies {
  flex-direction: row;
  justify-content: space-between;
  grid-area: techonlogiesInfos;
  flex-wrap: wrap;
}
.technology > span {
  font-size: 18px;
  color: #d97f00;
  font-weight: 600;
}
.technologydetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.technologydetails > span {
  text-align: justify;
  font-size: 17px;
  color: #2c2c2c;
  font-weight: 500;
  padding: 5px;
}
.technologydetails > span::before {
  content: "\23F5";
  color: #d97f00;
  padding: 10px;
}

.skills {
  grid-area: skillsInfos;
}
.interest {
  grid-area: interestInfos;
}
.interest,
.soft {
  font-size: large;
}
.softskills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}
.softskills > span {
  font-weight: 500;
  padding: 5px;
}
.interests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
}
.interests > span::before,
.softskills > span::before {
  content: "[ ";
  color: #d97f00;
}
.interests > span::after,
.softskills > span::after {
  content: " ]";
  color: #d97f00;
}
.personalinfos {
  flex-direction: column;
  justify-content: start;
  grid-area: personalInfos;
  padding: 30px;
}
.personalinfos > :first-child {
  font-size: 60px;
  font-weight: 600;
}
.personalinfos > :nth-child(2) {
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 12px;
  color: #d97f00;
}
.progressbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .cv {
    grid-template-areas:
      "Infos"
      "image"
      "profileInfos"
      "skillsInfos"
      "educationInfos"
      "experiencesInfos"
      "languagesInfos"
      "interestInfos"
      "contactInfos";
    grid-template-columns: 1fr;
    padding: 0 20px 20px;
  }

  .image > img {
    width: 150px;
    height: 150px;
  }

  .info {
    padding: 0;
    text-align: center;
    justify-content: center;
  }

  .info p {
    font-size: 1em; /* or font-size: 16px; */
  }
  .personalinfos {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .education,
  .language,
  .interests > span,
  .soft > span,
  .technology > span {
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    text-align: center;
  }

  .education > :first-child,
  .language > :first-child {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
  }

  .education > :nth-child(2),
  .language > :nth-child(2) {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }

  .experiencedetails > span {
    font-size: 14px;
  }

  .experiencedetails > span::before {
    padding-right: 2px;
  }

  .title {
    font-size: 20px;
    letter-spacing: 4px;
    text-align: center;
  }

  .education,
  .experience,
  .interest,
  .language,
  .profile,
  .soft,
  .technology,
  .contactinfos {
    padding: 15px 0;
    text-align: center;
  }
}
